body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    width: 100%;
}

#container {
    background-image: url(../img/bg-container.png);
    background-position: 50%;
    width: 100%;
    height: 900px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header a {
    text-decoration: none;
    color: black;
}

#logo {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

nav {
    font-weight: bold;
    font-size: 16px;
}

nav a {
    margin-left: 40px;
    padding-top: 5px;
}

nav a:hover {
    border-top: 3px solid #ff6033;
}

/* #burger img {
    width: 54px;
} */

#burger {
    width: 54px;
    display: none;
}

#info {
    padding: 100px 165px;
}

#info h1 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0;
}

button {
    padding: 20px 25px;
    background-color: #ff6033;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

#scroll {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

@media screen and (min-width: 1400px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 20px 165px;
    }
}

@media screen and (max-width: 992px) {
    nav a {
        margin-left: 20px;
    }
    #info {
        padding-left: 80px;
    }
}

@media screen and (max-width: 768px) {
    #info {
        padding: 0px 30px;
    }
    nav {
        display: none;
    }
    #burger {
        display: block;
        cursor: pointer;
    }
    #scroll {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }
    #container {
        height: 600px;
    }
}

#check-menu {
    display: none;
}

#check-menu:checked ~ nav {
    display: block;
    position: absolute;
    width: 90%;
    margin-top: 250px;
}

#check-menu:checked ~ nav a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: black ;
    color: white;
    margin: 0;
    margin-top: 5px;
    font-size: 40px;
    border: none;
}

#about {
    background: #00bbbb;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#text_about {
    padding-right: 50px;
}

h2 {
    color: white;
    font-weight: 700;
    font-size: 90px;
    margin: 0;
}

@media screen and (max-width: 992px) {
    #about {
        height: 900px;
        flex-direction: column;
    }
    #raspberry {
        width: 500px;
    }
    #text_about {
        padding: 0 0 0 50px;
    }
}

@media screen and (max-width: 576px) {
    #raspberry {
        width: 300px;
    }
    #text_about {
        padding: 10px;
    }
}

#services {
    background: #70bfff;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
}

#services ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

#services li {
    list-style-type: none;
    width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
}

#services ul img {
    width: 70px;
    height: 70px;
    padding: 15px;
    border-left: 1px solid gray;
}

#services b {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: auto;
    text-align: center;
}

#our_services {
    background: url(../img/tomatoes.png);
    background-repeat: no-repeat;
    background-position: center;

}

#our_services h2 {
    margin-top: 50%;
}

@media screen and (max-width: 1200px) {
    #our_services h2 {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    #services {
        /* background: #70bfff; */
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    #our_services h2 {
        margin-top: 200px;
        margin-bottom: 200px;
    }
    #services ul {
       padding: 20px;
    }
}

@media screen and (max-width: 420px) {
    #our_services h2 {
        font-size: 60px;
    }
}